{{!-- passport authentication errors --}}
{{#if error}}
  <div class="alert alert-danger mt-5">{{error}}</div>

{{/if}}


{{!-- this is the method to loop through the array in the handlebars --}}

{{#each errors}}
<div class="alert alert-danger mt-5">{{text}}</div>
{{else}}

{{/each}}