<nav id="navbar" class="navbar-expand-sm navbar bg-dark navbar-dark">
  <div class="container">
    <a href="/" class="navbar-brand">VIDJOT</a>
    <button class="navbar-toggler" data-target="#navigation-toggle" data-toggle="collapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navigation-toggle" class="collapse navbar-collapse">

      <ul class="navbar-nav ml-auto">
        {{#if user}}

        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navdropdownmenu">Video Ideas</a>
          <div class="dropdown-menu">
            <a href="/ideas" class="dropdown-item">Ideas</a>
            <a href="/ideas/add" class="dropdown-item">Add Ideas</a>

          </div>
        </li>
        <li class="nav-item">
          <a href="/users/logout" class="nav-link">Logout</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a href="/users/login" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a href="/users/register" class="nav-link">Register</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>