<div class="jumbotron text-center">
  <h1>{{title}}</h1>
  <p class="lead">Here You can Jot your video ideas so you can put that videos to work without stress.</p>
  <a href="/ideas/add" class="btn btn-outline-dark">ADD Ideas</a>
</div>