

<div class="card card-body my-5">
  <h3>Video Ideas</h3>
  <form action="/ideas" method="POST">
  
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" class="form-control" required>
  </div>

   <div class="form-group">
    <label for="details">Details</label>
    <textarea name="details" class="form-control" required></textarea>

    
  </div>
<div class="form-group">
    <button type="submit" class="btn btn-outline-dark">Submit</button>
    </div>
  </form>
</div>