
{{#each errors}}
<div class="alert alert-danger mt-5">{{text}}</div>
{{else}}

{{/each}}

<div class="card card-body my-5">
  <h3>Edit Video Ideas</h3>
  {{!-- The extra syntax after/ideas is for the method override package to override the post req to put the input hidden is also for that package. --}}
  <form action="/ideas/{{idea.id}}?_method=PUT" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <div class="form-group">
    <label for="title">Title</label>
    {{!-- here the value idea:title is comming from app.js where we fetched the single entry with the id. --}}
    <input type="text" name="title" class="form-control" value="{{idea.title}}" required>
  </div>

   <div class="form-group">
    <label for="details">Details</label>
    <textarea name="details" class="form-control" required>{{idea.details}}</textarea>

    
  </div>
<div class="form-group">
    <button type="submit" class="btn btn-outline-dark">Update</button>
    </div>
  </form>
</div>