{{#each ideas}}
  <div class="card card-body mt-2">
    <h4>{{title}}</h4>
    <p>{{details}}</p>
    <a href="/ideas/edit/{{id}}" class="btn btn-outline-dark mb-2">Edit</a>

    <form method="POST" action="/ideas/{{id}}?_method=DELETE">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="DELETE" class="btn btn-block btn-outline-danger">
    </form>
  </div>
{{else}}
  <div class="alert alert-success">
    No video ideas found.
  </div>
{{/each}}