<div class="row">
  <div class="col-md-6 mx-auto my-5">
    <div class="card card-body">
      <h3 class="text-center">
        Account Login
      </h3>
      <form action="/users/register" method="POST">
         <div class="form-group">
          <label for="name">Name</label>
          <input type="text" name="name" value="{{name}}" class="form-control" required>

        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control" value="{{email}}" required>

        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" value="{{password}}" required>
          
        </div>
         <div class="form-group">
          <label for="password">Confirm Password</label>
          <input type="password" name="confirmpassword" value="{{confirmpassword}}" class="form-control" required>
          
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  </div>
</div>